/* =====================
   GLOBAL Area
===================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  overflow-x: hidden;
  background: #F0F0F3;
}



img {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  width: 100%;
}


/* Header Area Style */
/* TOP BAR */
.top-bar {
  background-image: url(img/backk.png);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid rgb(73, 72, 72);
}

.top-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.top-left span {
  margin-right: 20px;
  font-size: 16px;
}

.top-right a {
  color: #fff;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 16px;
}

.top-right a:hover {
  color: orange;
}

/* HEADER */
/* Header Area Style */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* HEADER */
.header {
  width: 100%;
  background-image: url(img/backk.png);
  border-bottom: 1px solid #1B1C44;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo a img {
  height: 80px;
  transition: 0.3s;
}



/* MENU */
.nav-menu {
  display: flex;
}

.menu {
  display: flex;
  gap: 25px;

}

.menu li a {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 8px 0;
  transition: 0.3s;
}

.menu li a:hover {
  color: orange;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  color: #171F25;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: orange;
  min-width: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 0.3s ease;
  z-index: 100;
}

.dropdown-menu li a {
  font-size: 18px;
  color: white;
  display: block;
  padding: 12px 15px;
  font-size: 14px;
  transition: 0.3s;
}

.dropdown-menu li a:hover {
  color: slateblue;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ICONS */
.nav-icons {
  display: flex;
  gap: 18px;
}

.nav-icons i {
  font-size: 18px;
  color: white;
}

.nav-icons i:hover {
  color: orange;
}

.btns {
  padding: 12px 35px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  background: orange;
  transition: 0.3s;
}

.btns:hover {
  background: slateblue;
  transform: translateY(-8px);
}

.btns a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}




/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: orange;
}





















/* Common */


.testimonial-section span {
  color: orange;
  font-size: 50px;
  font-weight: bold;
}

.testimonial-section h2 {
  color: #171F25;
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 30px;
  font-weight: bold;
}

/* Clints */
.testimonial-section {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  background: #F0F0F3;
}



.testimonial-section h2 {
  margin: 10px 0 40px;
  color: #171F25;
  font-size: 50px;
  font-weight: 800;
}


.testimonial-grid {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.testimonial-card {
  background: #fff;
  border-radius: 22px;
  padding: 50px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: .3s ease;
}

.testimonial-card:hover {
  transform: translateY(-8px);
}

.testimonial-card p {
  color: #555;
  margin-bottom: 25px;
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.6;
}

.client {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.client img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.client h4 {
  font-size: 25px;
  margin-bottom: 5px;
}

.client span {
  font-size: 13px;
  color: #555;
}

/* Tilt Effects */
.tilt-left {
  transform: rotate(-2deg);
}

.tilt-right {
  transform: rotate(2deg);
}

.testimonial-card:hover.tilt-left,
.testimonial-card:hover.tilt-right {
  transform: rotate(0deg) translateY(-8px);
}











/* About */
.about {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;

}

.about-content {
  flex: 1;
}

.about-content {
  width: 100%;
}

.about-content h2 {
  font-size: 45px;
  font-weight: 800;
  color: orange;
}

.about-content span {
  font-weight: 800;
  color: #171F25;
}

.about-content p {
  color: #555;
  margin-bottom: 40px;
  margin-top: 15px;
  font-size: 19px;
  line-height: 1.6;
}

.about-images {
  flex: 1;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.about-images img {
  width: 100%;
  max-width: 600px;
  border-radius: 14px;
}


.order {
  background: orange;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.order:hover {
  background: slateblue;
  color: #fff;
  transform: translateY(-8px);
}








/* CONTACT SECTION */
.contact-section {
  padding: 100px 30px;
}

.contact-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  padding-top: 50px;
}

/* LEFT */
.contact-info {
  flex: 1;
}

.tag {
  color: slateblue;
  font-size: 14px;
  font-weight: bold;
}

.contact-info h2 {
  font-size: 50px;
  margin: 15px 0;
  font-weight: 800;
  color: #171F25;
}

.contact-info p {
  font-size: 20px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 50px;
}

.contact-info ul li {
  list-style: none;
  margin-bottom: 12px;
  font-weight: 500;
}

.contact-info ul li a {
  color: #444;
  text-decoration: none;
  font-size: 20px;
}

.contact-info li {
  color: #444;
  font-size: 20px;
}

/* FORM */
.contact-form {
  flex: 1;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: orange;
  padding: 30px 15px;
  border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  margin-bottom: 15px;
}

.contact-form textarea {
  resize: none;
  height: 140px;
}

.contact-form button {
  width: 160px;
  padding: 14px;
  border: none;
  background: slateblue;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.contact-form button:hover {
  transform: translateY(-8px);
}












/* FOOTER */
.footer {
  background-image: url(img/backk.png);
  color: #ccc;
  padding: 50px 25px;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-grid h3 {
  font-size: 35px;
  font-weight: 800;
  color: orange;
}


.footer-grid p {
  color: #9a9999;
  font-size: 18px;
  padding-top: 20px;
  font-weight: 600;
}


.footer ul {
  list-style: none;
}


.footer h4 {
  margin-bottom: 15px;
  color: orange;
  font-size: 25px;
}


.footer li {
  font-size: 18px;
  margin-bottom: 8px;
  color: #9a9999;
  transition: 0.3s;
  font-weight: 600;
}


.footer li a:hover {
  color: orange;
}


.footer .copyright {
  text-align: center;
  padding-top: 55px;
  font-size: 18px;
  color: white;
  font-weight: 600;
}










/* RESPONSIVE */
@media (max-width: 991px) {

  .top-left span {
    font-size: 18px;
  }


 


  .contact-container {
    grid-template-columns: 1fr;
  }

 

  


  .subtext {
    padding-left: 30px;
    padding-right: 30px;
  }

  .top-left {
    display: block;
  }

  .top-right {
    display: none;
  }

  .top-flex {
    align-items: center;
    text-align: center;
    justify-content: center;
  }


  .hamburger-menu {
    color: #1B1C44;
  }

  .nav-menu {
    position: absolute;
    top: 130px;
    left: -100%;
    width: 100%;
    height: calc(54vh - 70px);
    background: orange;
    transition: 0.4s;
    padding: 30px;
    height: 470px;
  }

  .nav-menu li a {
    color: #171F25;
    font-weight: 600;
    transition: 0.3s;
  }

  .nav-menu li a:hover {
    color: white;
    font-weight: 600;
  }

  .nav-menu.active {
    left: 0;
  }

  .menu {
    flex-direction: column;
    gap: 20px;
  }

  .dropdown-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    box-shadow: none;
    display: none;

  }


  .dropdown.active .dropdown-menu {
    display: block;
  }

  .hamburger {
    display: flex;
  }





  .contact-container {
    padding-left: 30px;
    padding-right: 30px;
  }


  .icon {
    width: 50px;
    height: 30px;
    border-radius: 50%;
  }




  .testimonial-grid {
    grid-template-columns: 1fr;
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
  }

 

  .about-content {
    padding-left: 30px;
  }

  .about-images img {
    padding-right: 30px;
  }




  .footer-container {
    padding-left: 30px;
    padding-right: 30px;
  }



}



@media (max-width: 768px) {
  .top-left span {
    font-size: 14px;
  }

  .logo a img {
    height: 60px;
    transition: 0.3s;
  }

  .hamburger {
    padding-right: 30px;
  }

  

  /* Header Area Style */


  .nav-icons {
    gap: 12px;
  }


  .nav__btns {
    display: none;
  }

 

 

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    padding-left: 30px;
    padding-right: 30px;
    text-align: start;
  }

  .about-content h2 {
    padding-top: 20px;
  }

  .about-images {
    padding-right: 30px;
    padding-left: 18px;
  }

  .order {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .about-images {
    justify-content: center;
  }


  .testimonial-grid {
    grid-template-columns: 1fr;
    padding-left: 30px;
    padding-right: 30px;
  }





}







@media (max-width: 576px) {


  .footer-grid {
    grid-template-columns: 1fr;
  }




}